.publicationsPageContent {
    background-color: #31393D;
    height: 100%;
}

.publications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publications__article {
    background-color: #c8c6cb;
    width: 80%;
    margin-top: 30px ; 
    margin-bottom: 30px;
}

.publications__article__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.publications__article__details h2 {
    color: black;
    font-size: 1.8em;
    font-family: "Karla", serif;
    margin: 0px;
}

.publications__article__details p {
    text-align: justify;
    font-family: "Nanum Gothic", serif;
}

.academicTitle {
    display: flex;
    justify-content: center;
}

.academicTitle p {
    text-align: justify;
    font-family: "Nanum Gothic", serif;
    color: white;
    font-size: 2.3em;
    text-shadow: 1px 1px #B8623F;
    font-family: "Karla", serif;
    margin: 0px;
}

.publications__article--link {
    color: black;
    font-size: 1.9em;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .publications__article {
        width: 100%;
        margin-top: 30px ; 
        margin-bottom: 80px;
    }

    .academicTitle p {
        font-size: 1.9em;
    }
}