@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,100&family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #31393D;
    height: 100%;
}

.about__contentBox__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 100%;
    margin: 100px 0;
}


.about__contentBox__textCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    width: 45%;
    margin-right: 30px;
}

.about__contentBox__textCol div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__contentBox__textCol h2 {
    text-align: initial;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px #B8623F;
    font-family: "Karla", serif;
}

.about__contentBox__textCol div p{
    color: white;
    /* text-shadow: 5px 3px 0px -1px #B8623F; */
    margin: 10px 0px;
    text-align: justify;
    font-family: "Nanum Gothic", serif;
}

.about__contentBox__imgCol {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__contentBox__imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about__contentBox__imgContainer img {
    max-width: 50%;
}

@media (max-width: 1024px) {
    .about__contentBox__bottom {
        margin: 10px 0;
    }
}

@media (max-width: 425px) {
    .about__contentBox__bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__contentBox__textCol {
        width: 85%;
        margin: 0;
    }

    .about__contentBox__textCol h2 {
        font-size: 1.8em;
        margin-top: 5px;
    }

    .about__contentBox__imgContainer img {
        max-width: 100%;
    }
}