.portfolio {
    background-color:#31393D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.portfolio__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}

.portfolio__bottom__pageTitle {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px #B8623F;
    font-family: "Karla", serif;
    margin: 0px;
}

.imageCard {
    width:45%;
    height:auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: #31393D;
    overflow: hidden;
    opacity: 1;
    margin: 30px 20px;
}

.websiteLinks {
    display: flex;
    justify-content: space-around;
}

.websiteLinks a span svg{
    color: white;
    font-size: 2em;
}

.websiteLinks a span svg:hover {
    color: #B8623F;
}

.websiteDescription {
    text-align: center;
    width:80%;
}

.websiteInfo {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.websiteName {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px #B8623F;
    font-family: "Karla", serif;
    margin: 0px;
}

.imageCard:focus .websiteInfo {
    visibility: visible;
    opacity: 1;
}

.imageCard:hover .websiteInfo {
    visibility: visible;
    opacity: 1;
    animation: movedown 1s
  }

.imageCard:hover{
    opacity: 0.5;
}

.imageCard .ant-card-body{
    width:100%;
    height:auto;
    padding: 0;
    
}

.websiteImage {
    max-width: 100%;
    max-height: auto;
}

.websiteTechnologies {
    display: flex;
    justify-content: space-between;
    font-family: "Nanum Gothic", serif;
}

.singleTechnology {
    background-color: #31393D;
    color: white;
    margin: 0 4px;
    font-family: "Nanum Gothic", serif;
}

@keyframes movedown
{ from {top:-10px; opacity: 0;}
to {top:0px; opacity: 1}
}

@media (max-width: 768px) {
    .imageCard {
        width: 70%;
        margin: 15px 20px
    }

    .portfolio__bottom {
        margin: 20px 0;
    }

    .websiteDescription {
        display: none;
    }

    .websiteName {
        font-size: 2em;
    }
}

@media (max-width: 425px) {
    .imageCard {
        width: 85%;
        margin: 10px 20px
    }
}