@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,100&family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.home {
    background-color: #407C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#31393D ;
    height: 100%;
    width: 100%;
}

.home__contentBox__bottom {
    display: flex;
    flex-direction: row;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.home__contentBox__nameCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 50%;
}

.home__contentBox__nameCol div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home__contentBox__nameCol--name{
    color: white;
    text-shadow: 2px 2px #B8623F;
    font-size: 5em;
    font-family: "Karla", serif;
    margin: 0px;
}

.home__contentBox__nameCol--surname{
    color: white;
    text-shadow: 2px 2px #B8623F;
    font-size: 5em;
    font-family: "Karla", serif;
    margin: 0px;
    margin-top: -20px;
}

.home__contentBox__nameCol div h3 {
    color:#B8623F;
    font-size: 2em;
    font-family: "Nanum Gothic", serif;
}

.home__contentBox__nameCol div h3.home__contentBox__nameCol--email {
    color:white;
    font-size: 1.2em;
    font-family: "Nanum Gothic", serif;
    align-self: center;
}

.home__contentBox__imgCol {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__contentBox__imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home__contentBox__imgContainer img {
    max-width: 70%;
}

.home__contentBox__nameCol .home__contentBox__nameCol__icons a {
    font-size: 2.2em;
}

.home__contentBox__nameCol .home__contentBox__nameCol__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__contentBox__nameCol__icons a:hover{
    color: #B8623F;
}

.home__contentBox__nameCol__icons a {
    width: 43%;
    color: white;
}

.home__contentBox__nameCol__icons .anticon-linkedin {
    display: flex;
    justify-content: flex-end;
}

.home__contentBox__nameCol__icons .anticon-github {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .home__contentBox__imgContainer img {
        max-width: 90%;
    }

    .home__contentBox__nameCol div h1{
        font-size: 3.5em;
    }
    
    .home__contentBox__nameCol div h3 {
        font-size: 1.4em;
    }

    .home__contentBox__nameCol div h3.home__contentBox__nameCol--email {
        font-size: 1.1em;
    }
}

@media (max-width: 425px) {
    .home__contentBox__imgContainer{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .home__contentBox__bottom {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .home__contentBox__imgCol {
        width: 60%;
        margin-top: 1%;
    }

    .home__contentBox__nameCol {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .home__contentBox__nameCol .ant-col {
        width: 100%;
    }

    .home__contentBox__imgContainer img {
        max-width: 100%;
    }

    .home__contentBox__nameCol div h3 {
        font-size: 1.2em;
        width: 100%;
    }

    .home__contentBox__nameCol div h3.home__contentBox__nameCol--email {
        font-size: 1em;
    }

}