.drawerWrapper {
    background-color: #407C9C;
    display: flex;
    justify-content: center;
}

.drawer {
    background-color: #31393D;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.drawer--button {
    background-color: #31393D;
    border: white;
    margin-top: 10px;
    z-index: 1000;
}

.drawer--button span svg {
    font-size: 22px;
    color: #C8C6CB;
}

.ant-drawer-close span svg {
    color: #C8C6CB;
}

.drawer__drawer__linksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ant-drawer-body,
.ant-drawer-header {
    background-color: #31393D;
    border: none;
}

.drawer__name {
    color: white;
    font-size: 1.3em;
    text-shadow: 1.4px 1.4px #B8623F;
    font-family: "Karla", serif;
    margin: 10px;
    margin-top: 15px;
}