.App{
    background-color:  #31393D;
    height: 100vh;
    width: 100vw;
}

.pageWrapper {
    display: flex;
    flex-direction: row;
    background-color:  #31393D;
}

.spinner {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 100vh;
  }